<div class="clearfix"></div>
        <section id="fms-features">
            <div class="container">
                <h2 class="banner-heading text-center"> <strong>Features &amp; Benefits</strong> </h2>
                <div class="arrow-fms-left col-sm-1 hidden-xs visible-sm visible-md visible-lg" onclick="callFmsLeftArrow()"><i class="fa fa-angle-left" style="cursor:pointer" aria-hidden="true"></i></div>
                <div class="col-xs-12 col-sm-10 col-md-5 hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile right-align tofade animated fadeInUp">
                        <p>
                            <img alt="{{.Params.alternateTextFmsImage}}" src="{{.Params.fmsImage}}" class="alignnone" />
                            <div id="mobile" class="mobile lapi-fms">
                                <div class="tech-slide-panal">
                                  {{ range $key,$val := .Params.image }}
                                    <div data-index="1"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{$val.img}}" alt="{{$val.alt}}" /> </div>
                                  {{ end }}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs visible-sm hidden-md hidden-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-right">
                  
                      <div class="col-slide" data-id="1">
                            <h4 class="feature-heading"><strong>Access Control</strong></h4>
                            <p class="features-text">Only authorized school personnel can access the admission management screens.</p>
                        </div>
                  
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs hidden-sm visible-md visible-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 hidden-md hidden-lg hidden-sm visible-xs">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-res">
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Access Control</strong></h4>
                            <p class="features-text">Only authorized school personnel can access the admission management screens.</p>
                            <img src="image/Fees-Scheduling-res.jpg" alt="myly is for parent teacher student messaging" />
                        </div>
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Capture Details</strong></h4>
                            <p class="features-text">Capture student details including custom fields and documents on admission.</p>
                            <img src="image/New-Admission-res.jpg" alt="myly student attendance management software" />
                        </div>
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Apply Fees</strong></h4>
                            <p class="features-text">Apply all necessary past due and upcoming fees to the student on admission.</p>
                            <img src="image/Receipt-Generation-res.jpg" alt="download myly for institute event management" />
                        </div>
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Collect Fees</strong></h4>
                            <p class="features-text">Collect fees by cheque, cash, PoS machine at the time of admission.</p>
                            <img src="image/Fees-Reconcilation-res.jpg" alt="myly is for parent teacher student messaging" />
                        </div>
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Approve Admission</strong></h4>
                            <p class="features-text">Senior managment of school still reserves the right to approve admission.</p>
                            <img src="image/Reports-&-Analytics-res.jpg" alt="myly student attendance management software" />
                        </div>
                        <div class="col-slide">
                            <h4 class="feature-heading"><strong>Reporting</strong></h4>
                            <p class="features-text">Get complete details and report on admissions in school within a particular duration.</p>
                            <img src="image/Offline-Fees-Collection-res.jpg" alt="download myly for institute event management" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/reminders.jpg" alt="Automatic Reminders" /></i>
                        <h3>Centralized Admission</h3>
                        <p>Ensure all admissions in the system from a single point only.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/payment.jpg" alt="Partial/Advance Fees" /></i>
                        <h3>Student Data Collection</h3>
                        <p>Collect all necessary data for each student getting admission.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/payment.png" alt="online fees collection" /></i>
                        <h3>Apply Fees</h3>
                        <p>Ensure that all necessary fees is applied at the time of admission itself</p>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/finance-manager.jpg" alt="Role-based access" /></i>
                        <h3>Role-based access</h3>
                        <p>Only authorized personned get access to admission management.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/analytics.jpg" alt="real-time analytics" /></i>
                        <h3>Admission Fees Collection</h3>
                        <p>Collect fees at the time of admission to ensure better cashflow.</p>
                    </div>

                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/fees-collection.jpg" alt="Reduce Delays" /></i>
                        <h3>Reduce Delays</h3>
                        <p>Reduce delay in admission and fees collection.</p>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/errorfree.png" alt="Error-free" /></i>
                        <h3>Error-free</h3>
                        <p>Admission process becomes error-free as there is minimum manual intervention.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/time.png" alt="Save Time" /></i>
                        <h3>Save Time</h3>
                        <p>By ensuring all admission related items in a workflow, school saves a lot of time.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="image/secure.png" alt="Secure &amp; Safe" /></i>
                        <h3>Secure &amp; Safe</h3>
                        <p>Secure encryption technology and highly secure data centers always keep your data safe.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>