<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>

{{- partial "head.html" . -}}

<!-- {{ partial "availablecss.html" . }} -->

<!-- {{ partial "owncss.html" . }} -->

{{- partial "homeHeadScript.html" . -}} 

{{- partial "pageheader.html" . -}}

</head>
<body>
<div class=site-page>
{{- partial "header.html" . -}}

{{- block "main" . }}{{- end }}

{{- partial "footer.html" . -}} 
</div>
</body>

<!-- {{- partial "availablejs.html" . -}} -->

{{- partial "ownjs.html" . -}}


</html>

