<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
   
{{ partial "homeHeadScript.html" . }} 

{{$x := .Title}}
{{ if ne $x "schoolMobileApp" }}
{{range $key, $val := .Site.Data.content.pageContent }}
{{ if eq $x $key }}
{{ partial "pageheader.html" $val }}
{{ end }}
{{ end }}
{{ end }}

{{ if eq $x "schoolMobileApp" }}
{{ with .Site.Data.content.pageContent.schoolMobileApp.forParents }}
{{ partial "pageheader.html"  . }}
{{ end }}
{{ end }}

</head>

<body>

<div class=site-page>

{{ partial "navigation.html" . }}

{{- block "main" . }}{{- end }}


{{ partial "footer.html" . }} 

</div>

</body>

{{ partial "homeFooterScript.html" . }}

{{ partial "pagefooter.html" . }}

</html>

