{{ $a := cond (eq .Title "myly - School Mobile App")  "fms-features" "base-features" }}
{{ $b := cond (eq .Title "myly - School Mobile App")  "iph-mobile-admin" "base-features" }}
{{ $c := cond (eq .Title "myly - School Mobile App") "col-md-4" "col-md-5" }}
{{ $e := cond (eq .Title "myly - School Mobile App") "mobile lapi-admin" "mobile lapi-fms" }}
{{ $g := cond (eq .Title "myly - School Mobile App") "col-md-6" "col-md-5" }}
<div class="clearfix"></div>
        <section id={{$a}}>
            <div class="container">
                <h2 class="banner-heading text-center"> <strong>Features &amp; Benefits</strong> </h2>
                <div class="arrow-fms-left col-sm-1 hidden-xs visible-sm visible-md visible-lg" onclick="callFmsLeftArrow()"><i class="fa fa-angle-left" style="cursor:pointer" aria-hidden="true"></i></div>
                <div class="col-xs-12 col-sm-10 {{ $c }} hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile {{ $b }} right-align tofade animated fadeInUp">
                        <p>
                            {{ if ne .Title "myly - School Mobile App" }}
                            <img alt="hand-iphone" src="/image/webpanel-three.png" class="alignnone" />
                            {{ else }}
                            <img alt="hand-iphone" src="/image/admin-mobile.png" class="alignnone" />
                           {{ end }}
                           
                   
                            <div id="mobile" class="{{ $e }}">
                                <div class="tech-slide-panal">
                                    {{range $key,$value := where .Pages "Params.typeofpage" "featuresBenefits"}}
                                    <div data-index="1">
                                    {{ if eq .Params.title "forParents" }}
                                     <img src="{{.Params.img}}" alt="{{.Params.alt}}" />
                                     {{ else }}    
                                    <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Params.img}}" alt="{{.Params.alt}}" />
                                     {{ end }}
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs visible-sm hidden-md hidden-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 {{ $g }} hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-right">
                       {{range where .Pages "Params.typeofpage" "featuresBenefits"}}
                      <div class="col-slide" data-id="1">
                            <h4 class="feature-heading"><strong>{{.Params.heading}}</strong></h4>
                            <p class="features-text"> {{.Content}}</p>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs hidden-sm visible-md visible-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 hidden-md hidden-lg hidden-sm visible-xs">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-res">
                    {{range where .Pages "Params.typeofpage" "featuresBenefits"}}
                      <div class="col-slide">
                            <h4 class="feature-heading"><strong>{{.Params.heading}}</strong></h4>
                            {{.Content}}
                            <img src="{{.Params.imgRes}}" alt="{{.Params.altRes}}" />
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <br />
                <br />
                