{{ range $key, $val := .Params.servicesContent }}
<div class="row">
    {{range $key,$val := $val }}
    {{range $key,$val := $val }}
    <div class="col-sm-4 text-center">
        <i class="icon-fms-features" aria-hidden="true"><img src="{{ $val.image }}" alt="{{ $val.alternateText }}" /></i>
        <h3>{{ $val.heading }}</h3>
        <p>{{ $val.paragraph }}</p>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}
<div class="clearfix"></div>
</div>
</section>

<div class="clearfix"></div>


