<section id="brocher-info" class="brocher-info" data-id="pform" style="margin: 0; background: #fff; border: none;">
    <div class="container">
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-sm-6">
            <div class="brocher-form">
                   <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
hbspt.forms.create({
portalId: "6341440",
formId: "ffe8ac28-ce2c-4e65-a050-2ab59414cac3"
});
</script>
            </div>
        </div>
        <div class="col-sm-6 col-clear">
            <div class="fms-mobile-screen"><img src="/image/fms-screen.png" alt="fms screen" /></div>
        </div>
    </div>
</section>