{{ define "main" }}

<style type="text/css">
  .button {
      font-size: 1em;
      padding: 10px;
      color: #fff;
      border: 2px solid #06D85F;
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
  }

      .button:hover {
          background: #06D85F;
      }

  .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
      z-index: 9999999999;
  }

      .overlay:target {
          visibility: visible;
          opacity: 1;
      }

  .popup {
      margin: auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 70%;
      position: relative;
      transition: all 5s ease-in-out;
      top: 3%;
      bottom: 0;
      left: 0;
  }

      .popup h2 {
          margin-top: 0;
          color: #333;
          font-family: Tahoma, Arial, sans-serif;
      }

      .popup .close {
          position: absolute;
          top: 0px;
          right: 5px;
          transition: all 200ms;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: #000;
          z-index: 120;
          opacity: 1 !important;
      }

          .popup .close:hover {
              color: #06D85F;
          }

      .popup .content {
          max-height: 30%;
          overflow: auto;
      }

      .popup.popup-scoo {
          top: 20%;
      }

  @media screen and (max-width: 700px) {
      .popup {
          width: 90%;
          top: 30%;
      }
  }

  @media screen and (min-width: 420px) and (max-width: 500px) {
      .popup {
          width: 90%;
          top: 6%;
      }

          .popup.popup-scoo {
              top: 40%;
          }
  }
</style>

<div id="popup1" class="overlay">
  <div class="popup">
      <a class="close" href="#">&times;</a>
      <img src="image/news-img.jpg" />
  </div>
</div>

<div id="popup2" class="overlay">
  <div class="popup popup-scoo">
      <a class="close" href="#">&times;</a>
      <img src="image/scoo-popup.png" />
  </div>
</div>

<div class="container">
  <div class="web-top-margin">
      <div class="news-Press-panel">
          <h1 class="intro-heading news-heading">News</h1>
          <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
          <div class="row text-center">
              <div>

{{range .Pages}}
{{ if eq .Params.typeOfPage "News" }}
{{ .Render "newsScript" }}
{{ end }}
{{end}}

</div>
</div>
</div>
<br>
<br>
</div>
</div>


{{ end }}