{{ define "main" }}

<div class="hero-panel timeTableBannerBg"><img style="margin-left:150px;" src="/image/hero-time-table.jpg" alt="Time Table" /></div>

{{range .Pages}}
{{ if eq .Params.typeOfPage "introduction" }}
{{ .Render "introduction" }}
{{ end }}
{{end}}

{{ .Render "featuresBenefits" }}

<div class="clearfix"></div>
<br />
<br />
</div>
</div>

{{range .Pages}}
{{ if eq .Params.typeOfPage "workflow" }}
{{ .Render "workflow" }}
{{ end }}
{{end}}

{{ .Render "solutionsForm" }}

{{ end }}