{{ define "main" }}

<div class="hero-panel" style="text-align:center;"><img src="/image/parent-app-banner.jpg" alt="Parent App Banner" /></div>

{{range where .Pages "Params.series" "==" "introduction_forParents"}}
{{ .Render "introduction" }}
{{end}}

{{ .Render "featuresBenefits" }}

{{ .Render "services" }}


{{range where .Pages "Params.series" "==" "introduction_forSchoolStaff"}}
{{ .Render "introduction" }}
{{end}}

{{ .Render "featuresBenefitsForSchoolStaff" }}

{{ .Render "services_forSchoolStaff" }}


{{ .Render "solutionsForm" }}

{{ end }}