{{ with .be_a_partner }}
<div id="partner-panel">
    <div class="partner-career"></div>
    <div class="container">
        <div class="sections-company" style="width:100%;">
            <div class="partner-panel-inner">
                <h1>{{ .heading1 }}</h1>
                <p>{{ .paragraph1 }}</p>
                <p></p>
                <br>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </div>
    <div id="p_form_cc" class="partner-ship-panel" data-id="pform">



        <div class="container site-form-content">
            <h3 class="text-center" style="color:#000;"><strong>{{ .heading2 }}</strong></h3>
            <div class="row">
                <form id="formMFPMobileAppBrochure" action="">
                    <div class="col-md-6">
                        <p>
                             {{ .paragraph31 }} <br />
                            {{ .paragraph32 }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>{{ .heading3 }}</h4>
                        <div class="partner-form-item gray-form">
                            <div class="brocher-item">
                                <input class="form-control referring-box referring-fm" data-prompt-position="bottomLeft" maxlength="100" data-validation-engine="validate[required,custom[onlyLetterSp],maxSize[100]]" data-errormessage-value-missing="Name is required!" data-errormessage-custom-error="Enter valid name only!" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="brocher-item">
                                <input class="form-control referring-box referring-fm" data-prompt-position="bottomLeft" maxlength="100" data-validation-engine="validate[required,maxSize[100]]" data-errormessage-value-missing="Company name is required!" id="schoolname" name="schoolname" placeholder="Company name">
                            </div>
                            <div class="brocher-item">
                                <input class="form-control referring-box referring-fm" data-prompt-position="bottomLeft" maxlength="30" data-validation-engine="validate[required,maxSize[30]]" data-errormessage-value-missing="City is required!" id="city" name="city" placeholder="City">
                            </div>
                            <div class="brocher-item">
                                <input maxlength="15" class="form-control referring-box referring-fm" data-prompt-position="bottomLeft" data-validation-engine="validate[required,funcCall[validateMobile]]" autocomplete="off" onpaste="ReplaceCharsOnPaste(this)" oninput="javascript: ReplaceChars(this);" data-errormessage-value-missing="Mobile number is required!" id="number" placeholder="Mobile">
                            </div>
                            <div class="brocher-item">
                                <input class="form-control referring-box referring-fm" data-validation-engine="validate[required,custom[email],maxSize[50]]" data-errormessage-value-missing="Email is required!" data-errormessage-custom-error="Let me give you a hint: someone@nowhere.com" id="email" placeholder="Email ID">
                            </div>
                          
                            <div class="brocher-item">
                                    <select class="form-control referring-box referring-fm" id="enquirer" data-prompt-position="bottomLeft" data-validation-engine="validate[required]" data-errormessage-value-missing="Your role is required!" style="color: #999 !important;">
                                        <option value="" disabled="disabled" selected="selected">Your role in school</option>
                                        <option value="School Owner">School Owner</option>
                                        <option value="Principal">Principal</option>
                                        <option value="Teacher">Teacher</option>
                                        <option value="Parent">Parent</option>
                                        <option value="Student">Student</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                            <p style="font-size:9px">By submitting this form, you allow us to contact you for myly services.</p>

                            <button id="submitMFPMobileAppBrochure" class="-options -secondary -less-padding font-incress">I am interested</button>
                        </div>
                    </div>
                </form>
            </div><br>
            <br>
            <div class="clearfix"></div>

        </div>
    </div>

</div>
{{ end }}