    {{ with .careers }}
    <style type="text/css">
        p {
            text-align: center;
        }
    
        body {
            text-align: center;
        }
    </style>
            <div id="career-panel">
                <div class="banner-career"></div>
                <div class="container">
                    <div class="sections-company">
                        <h1>{{ .Heading }}</h1>
                        <p>{{ .Paragraph }}</p>
    
                        <div class="clearfix"></div>
                        <br>
                        
                        {{ range $key , $val := .working }}
                        {{ with $val }}
                        {{ if eq $key "0" }}
                        <div class="panel-group">
                            <div class="db" style="margin:0 0 10px;">{{ .subHeading }}</div>
                        {{ end }}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="{{ .href }}">{{ .heading }}</a> </h4>
                                </div>
                                <div id="{{ .id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ with .overview }}
                                        <h4>{{ .subHeading }}</h4>
                                        <p style="margin: 0 0 10px;">
                                            {{ .paragraph1 }}<br><br>
                                            {{ .paragraph2 }}<br>
                                            {{ .paragraph3 }}<br>
                                            {{ .paragraph4 }}<br>
                                            {{ .paragraph5 }}<br><br>
                                         {{ end }}
                                         {{ with .dutiesResponsibility }}
                                            <h4>{{ .heading }}</h4>
                                            <ul>
                                                {{ range .paragraph }}
                                                <li>{{ .paragraph }}</li>
                                                 {{ end }}
                                            </ul>
                                       {{ end }}
                                       {{ with .knowledge }}
                                            <h4>{{ .heading }}</h4>
                                            <ul>
                                                {{ range .paragraph }}
                                                <li>{{ .paragraph }}</li>
                                                {{ end }}
                                            </ul>
                                            <a class="apply-btn" href="mailto:hr@mylyapp.com">Apply Now</a>
                                       {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                <br>
                </div>
                
{{ end }}