<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shirnk-to-fit=no, maximum-scale=1, user-scalable=no" />
<title>{{ if .Params.title }}{{.Params.title}}{{ else }}{{.Site.Title}}{{ end }}</title>
{{if .Params.keywords}}
<meta name="keywords" content="{{.Params.keywords}}" />
{{else}}
<meta name="keywords"
    content="myly, vision, mission, gaurav mundra, madhup bansal, startup, Jaipur, DIPP recognized, EdTech" />{{end}}
{{if .Params.description}}
<meta name="description" content="{{.Params.description}}"/>
{{else}}
<meta name="description"
    content="A modern EdTech company which aims to revolutionize School Parent connect and School management globally." />{{end}}
<link rel="icon" href="image/favicon.ico" type="image/gif" sizes="16x16"/>
{{ template "_internal/google_analytics_async.html" . }}
{{- partial "jsonld.html" . -}}