<script type=text/javascript src="/js/jquery.min.js"></script>
  <script type=text/javascript src="/js/bootstrap.min.js"></script>
  <script type=text/javascript src="/js/custom.js"></script>
  <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.4.1/dist/jquery.slim.min.js,npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js,npm/swiper@5.2.1,npm/wow@0.0.6"></script>

  <script type=text/javascript>jQuery(document).ready(function () { $(".storyHeroScroll").click(function (b) { b.preventDefault(); $("html,body").animate({ scrollTop: $(".home-tilrPaths").offset().top - -90 }, 2000) }); $(".storyHeroScroll1").click(function (b) { b.preventDefault(); $("html,body").animate({ scrollTop: $(".tilrPaths-section-third").offset().top - -120 }, 2000) }); $(".storyHeroScroll2").click(function (b) { b.preventDefault(); $("html,body").animate({ scrollTop: $(".tilrPaths-section-four-peter").offset().top - -120 }, 2000) }); $(".storyHeroScroll3").click(function (b) { b.preventDefault(); $("html,body").animate({ scrollTop: $(".tilrPaths-section-four-chirtina").offset().top - -110 }, 2000) }); $(".storyHeroScroll4").click(function (b) { b.preventDefault(); $("html,body").animate({ scrollTop: $(".technology-section").offset().top - +150 }, 2000) }) });</script>
  <script type=application/ld+json>
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.mylyapp.com/",
      "logo": "https://www.mylyapp.com/image/logo.png",
      }
  </script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<script src="/js/tutorial.js"></script>
<script src="/js/swiper.min.js"></script>

<script>var swiper = new Swiper(".swiper-container", { pagination: ".swiper-pagination", nextButton: ".swiper-button-next", prevButton: ".swiper-button-prev", slidesPerView: 1, paginationClickable: true, spaceBetween: 30, loop: true, autoplay: 3000 });</script>
<script>var swiper = new Swiper(".logoSwiper", { pagination: ".logoPagination", slidesPerView: 1, paginationClickable: true, spaceBetween: 30, loop: true, autoplay: 3000 });</script>

<script type=text/javascript src="/js/home.js"></script>
<script type=text/javascript src='/js/nav.js?ver=1.14'></script>
<script type=text/javascript src='/js/tilrPaths.js'></script>
