{{ "<!-- newcustomersection -->" | safeHTML }}
<div class="newCustomersSection">
    <div class="container">
        <div class="swiper-container logoSwiper">
            <h2 class=text-center>Some of our Esteemed Clients</h2><br><br>
            <div class="swiper-wrapper">
                {{ range .Site.Menus.image }}
                    <div class="swiper-slide">
                    {{ range .Children }}
                      <div class="logoBlock">
                      <img src="{{ .Name }}" height=130 alt=""><br><br>
                     <h5>{{ .URL }}</h5>
                      </div>
                    {{ end }}
                  </div>
                 {{ end }}
            </div>
            <div class="logoPagination"></div>
        </div>
    </div>
</div>
{{ "<!-- /newcustomersection -->" | safeHTML }}
 