<style type="text/css">
  p {
      text-align: center;
  }
  .slick-slide {
      margin: 0;
  }
</style>

{{ if ne .title "forSchoolStaff" }}
<div class="hero-panel" style="text-align:center;"><img src="{{.image}}" alt="{{ .alternateTextImage }}" /></div>
{{ end }}
        <!--<div class="teacher-app-banner"></div>-->
        <section id="fms-panel">
            <div class="container">
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="introduction-panel">
                        <article>
                            <h1 class="text-center" style="color:#000;"><strong>{{ .heading }}</strong></h1>
                            <p>{{ .paragraph1 }}</p>
                            <p style="margin:0 0 18px">{{ .paragraph2 }}</p>
                        </article>
                        <!-- <div style="margin:auto; display:table;"><button class="-options -secondary -less-padding font-incress rtpf">Download brochure</button></div> -->
                    </div>
                </div>

            </div>
        </section>
       
        {{ $t := .title }}
        {{ $a := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "fms-features" "base-features" }}
        {{ $b := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "iph-mobile-admin" "base-features" }}
        {{ $c := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "col-md-4" "col-md-5" }}
        {{ $d := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "" "margin:0;" }}
        {{ $e := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "mobile lapi-admin" "mobile lapi-fms" }}
        {{ $f := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "" "fees-slide-mgmt" }}
        {{ $g := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "col-md-6" "col-md-5" }}
        {{ $h := cond (or (eq .title "forParents") (eq .title "forSchoolStaff")) "width:17%;" "" }}
        <div class="clearfix"></div>
        <section id="{{ $a }}">
            <div class="container">
                <h2 class="banner-heading text-center"> <strong>Features &amp; Benefits</strong> </h2>
                <div class="arrow-fms-left col-sm-1 hidden-xs visible-sm visible-md visible-lg" onclick="callFmsLeftArrow()"><i class="fa fa-angle-left" style="cursor:pointer" aria-hidden="true"></i></div>
                <div class="col-xs-12 col-sm-10 {{ $c }} hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile {{ $b }} right-align tofade animated fadeInUp">
                        <p>
                            <img alt="hand-iphone" src="{{ .featureImage }}" class="alignnone" />
                            <div id="mobile" class="{{ $e }}">
                                <div class="tech-slide-panal">
                                  {{ range .featureBenefit }}
                                    <div data-index="1">
                                        {{ if eq $t "forSchoolStaff" }}
                                        <img class="zoomIt " id="zoom_02" style="width:17%;" src="{{ .image }}"
                                             alt="{{ .alternateText }}" />
                                         {{ else }}    
                                        <img class="zoomIt {{ $f }}" id="zoom_02" src="{{ .image }}" alt="{{ .alternateText }}" />
                                         {{ end }}
                                    </div>
                                  {{ end }}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs visible-sm hidden-md hidden-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 {{ $g }} hidden-xs visible-sm visible-md visible-lg">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-right">
                       {{ range .featureBenefit }} 
                       <div class="col-slide" data-id="1">
                            <h4 class="feature-heading"><strong>{{ .heading }}</strong></h4>
                            <p class="features-text">{{ .paragraph }}</p>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="col-sm-1 hidden-xs hidden-sm visible-md visible-lg">
                    <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 hidden-md hidden-lg hidden-sm visible-xs">
                    <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-res">
                        {{ range .featureBenefit }} 
                      <div class="col-slide">
                            <h4 class="feature-heading"><strong>{{ .heading }}</strong></h4>
                            <p class="features-text">{{ .paragraph }}</p>
                            <img src="{{ .imageRes }}" alt="{{ .alternateTextRes }}" />
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                {{ range $key, $val := .services }}
                <br />
                <br />
                <div class="row">
                    {{range $val }}
                    <div class="col-sm-4 text-center">
                        <i class="icon-fms-features" aria-hidden="true"><img src="{{ .image }}" alt="{{ .alternateText }}" /></i>
                        <h3>{{ .heading }}</h3>
                        <p>{{ .paragraph }}</p>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
                
                


                <div class="clearfix"></div>
                <p>&nbsp;</p>


                <div class="clearfix"></div>
            </div>
        </section>
        <div class="clearfix"></div>

        {{ if and (ne $t "forSchoolStaff") (ne $t "StudentInformationSystem") (ne $t "forParents")}}
        <section class="gps-howitworks-panel text-center">
                <h2 class="title-webpanel">How it works</h2>
                <!--<h1 id="p_form_H">How it works? <span>Morning</span></h1>-->
    
                <div class="container-two">
                    <div class="container">
                        {{ range .workFlow }}
                        {{ $class := cond (or (eq .image "/image/time-table-pattern.jpg") (eq .image "/image/periods-add.jpg") (eq .image "/image/teacher-subject.jpg") (eq .image "/image/publish-parent.jpg") ) "cols cols-quiz-section text-center" "cols cols-fees text-center" }}
                        <div class="{{ $class }}">
                            <img class="img-circle img-responsive img-center" src="{{ .image }}" alt="School Schedules Fees" />
                            <h3>{{ .heading }}</h3>
                        </div>
                        {{ if ne .i "end" }}
                        <div class="cols2 cols-top-margin hidden-lg visible-sm hidden-md visible-xs">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </div>
                        <div class="cols2 visible-lg hidden-sm visible-md hidden-xs">
                            <i class="fa fa-arrow-right fa-arrow-top" aria-hidden="true"></i>
                        </div>
                        {{ end }} 
                        {{ end }}
                        
                    </div>
                </div>
            </section>
            {{ end }}
            
        <div class="clearfix"></div>
        {{ if ne .title "forParents" }}
        <section id="brocher-info" class="brocher-info" data-id="pform" style="margin: 0; background: #fff; border: none;">
            <div class="container">
                <hr />
                <div class="col-sm-12">
                    <br />
                </div>
                <div class="col-sm-6">
                    <div class="brocher-form">
                           <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6341440",
	formId: "ffe8ac28-ce2c-4e65-a050-2ab59414cac3"
});
</script>
                    </div>
                </div>
                <div class="col-sm-6 col-clear">
                    <div class="fms-mobile-screen"><img src="/image/fms-screen.png" alt="fms screen" /></div>
                </div>
            </div>
        </section>
        {{ end }}