<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script>
  var activePath = window.location.pathname;
  switch(activePath) {
    case '/fee': document.getElementById('firstP').innerText = activePath
  }
</script>
<body>
   <p id='firstP'> First P</p>
</body>
</html>

{{if .Done}}
<li class="done">{{.Title}}</li>
{{else}}
<li>{{.Title}}</li>
{{end}}