{{ define "main" }}

<div id="career-panel">
    <div class="banner-career"></div>
    <div class="container">
        <div class="sections-company">
            <h1>Careers</h1>
            <p> We are always looking for people who are thinkers and doers. We welcome the technical brains ready to cross the job boundaries for tasks never done before and people who are willing to explore the world of new possibilities and opportunities. </p>


            <div class="clearfix"></div>
            <br>

            {{range where .Pages "Params.typeofpage" "operations"}}
            {{ .Render "operations" }}
            {{end}}

        </div>
    </div>
    <br>

{{ end }}