{{ define "main" }}
  <div id=hero class="section -top -storyHero">
            <div class=container>
                <div class="content -medium -space-v-2">
                    <h1 class=heading-top>
                        The most trusted <br>
                        School Management App
                    </h1>
                    <h3 class=heading-top-bot>
                        Easy to use Smartphone based School Management System<br><br>
                        Everything you need for your school <br><br>
                    </h3>
                    <div class="bannerIconsRow">
                        <div class="bannerIconBlock">
                            <img src="image/services-icon/mobile-app.png" alt="School App">
                            <h5>School App</h5>
                        </div>
                        <div class="bannerIconBlock">
                            <img src="image/services-icon/school-management.png" alt="School Management">
                            <h5>School Management</h5>
                        </div>
                        <div class="bannerIconBlock">
                            <img src="image/services-icon/student-security.png" alt="School Security">
                            <h5>Student Security</h5>
                        </div>
                        <div class="bannerIconBlock">
                            <img src="image/services-icon/online-course.png" alt="Learning">
                            <h5>Learning</h5>
                        </div>
                    </div>
                    <div class=sign-up-btn-panel>
                        <!--<a class=sign-up-btn href=https://web.mylyapp.com/SignUp.aspx target=_blank> Sign-up free</a>-->
                        <a class=sign-up-btn href="/register">Register Now</a>
                    </div>
                    </h3>
                </div>
                <div id=scroll-start class="up-down-arrow storyHeroScroll"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
            </div>
        </div>
        <div class=home-tilrPaths>
            <div class=tilrPaths>
                <p class=intro-heading>How myly helps</p>
                <div class="tilrPaths-section -one">
                    <div class="grid -fullHeight -align-middle -rtl">
                        <div class=col>
                            <div class=tilrPaths-section-content>
                                <img src=image/Deborah.jpg alt="School Principal" class="tilrPaths-section-content-graphic -deborah" />
                                <div class="tilrPaths-section-content-text -small-right">
                                    <h2>Meet Mr. Sharma</h2>
                                    <h3>He owns Quality Kids School.</h3>
                                    <p>He is concerned about data security, financial management and transparency.</p>
                                    <p>He wants to manage all the information and records of his school on a single school ERP and increase the efficiency of his staff. </p>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 24" class="tilrPath -one">
                                    <path stroke-dashoffset=0 stroke-dasharray=0 d="m 0 3  h -0.8   c 0 0, -1 0, -1 1	v 2		c 0 0, 0 1, 1 1		h 0	  c 0 0, 1 0, 1 1	v 7	   c 0 0, 0 1, 1 1	   c 0 0, 1 0, 1 1		v 1.5		c 0 0, 0 1, -1 1	h -2.2		c 0 0, -1 0, -1 1		v 5.5" class="tilrPath-path -one"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs visible-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 24" class="tilrPath -one">
                                    <path stroke-dashoffset=0 stroke-dasharray=0 d="							m 0 3							h -1.6							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 1.25							c 0 0, 1 0, 1 1							v 7							c 0 0, 0 1, 1 1							c 0 0, 1 0, 1 1							v 1.5							c 0 0, 0 1, -1 1							h -2.8							c 0 0, -1 0, -1 1							v 5.5						" class="tilrPath-path -one"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 24" class="tilrPath -one">
                                    <path stroke-dashoffset=0 stroke-dasharray=0 d="							m 0 3							h -2							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 2.25							c 0 0, 1 0, 1 1							v 7							c 0 0, 0 1, 1 1							c 0 0, 1 0, 1 1							v 1.5							c 0 0, 0 1, -1 1							h -2.8							c 0 0, -1 0, -1 1							v 5.5						" class="tilrPath-path -one"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tilrPaths-section tilrPaths-section-third">
                    <div id=scroll-start class="up-down-arrow storyHeroScroll1" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
                    <div class="grid -fullHeight -align-middle">
                        <div class=col>
                            <div class="tilrPaths-section-content -align-right">
                                <img src=image/child-student.jpg alt="School Teacher" class="tilrPaths-section-content-graphic -daniel" />
                                <div class=tilrPaths-section-content-text>
                                    <h2 style=margin:0>This is Mallika</h2>
                                    <h3>A teacher in Quality Kids School.</h3>
                                    <p>She has to share messages, pictures and news to her students and their parents.</p>
                                    <p>She wishes to organize essential daily tasks like taking attendance, responding to parents and sending circulars &amp; homework from her school app.</p>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                                    <path d="m 0 3.5	h 1		c 0 0, 1 0, 1 1		v 2		c 0 0, 0 1, -1 1	h -1.8	c 0 0, -1 0, -1 1	 v 2	c 0 0, 0 1, 1 1		h 1.80		c 0 0, 1 0, 1 1		v 8						" class="tilrPath-path -two"> </path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs visible-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                                    <path d="							m 0 3.5							h 1.6							c 0 0, 1 0, 1 1							v 2							c 0 0, 0 1, -1 1							h -3.5							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 3.55							c 0 0, 1 0, 1 1							v 8						" class="tilrPath-path -two"> </path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                                    <path d="							m 0 3.5							h 3							c 0 0, 1 0, 1 1							v 2							c 0 0, 0 1, -1 1							h -6							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 3.55							c 0 0, 1 0, 1 1							v 8						" class="tilrPath-path -two"> </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div id=scroll-start class="up-down-arrow storyHeroScroll2" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
                <div class="tilrPaths-section tilrPaths-section-four-peter">
                    <div class="grid -fullHeight -align-middle -rtl">
                        <div class=col>
                            <div class=tilrPaths-section-content>
                                <img src=image/school-teacher.png alt=Parent class="tilrPaths-section-content-graphic -caralyn" />
                                <div class="tilrPaths-section-content-text -small-right">
                                    <h2>Meet Christina</h2>
                                    <h3>Her child studies in Quality Kids School.</h3>
                                    <p>She is worried about getting timely info &amp; about her child’s progress in class.</p>
                                    <p>She wants to communicate with the teacher, get all info on her parent app and pay fees without having to stand in queues at the school.</p>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                                    <path d="m 1.8 3	h -1	c 0 0, -1 0, -1 1	v 2	    c 0 0, 0 1, -1 1	  c 0 0, -1 0, -1 1		v 3		c 0 0, 0 1, 1 1		h 1.49		c 0 0, 1 0, 1 1		v 1" class="tilrPath-path -three"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs visible-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                                    <path d="							m 1 3							h -0.7							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, -1 1							c 0 0, -1 0, -1 1							v 3							c 0 0, 0 1, 1 1							h 1.49							c 0 0, 1 0, 1 1							v 1						" class="tilrPath-path -three"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                                    <path d="							m 0 3							h -1							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, -1 1							c 0 0, -1 0, -1 1							v 3							c 0 0, 0 1, 1 1							h 1.49							c 0 0, 1 0, 1 1							v 1						" class="tilrPath-path -three"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div id=scroll-start class="up-down-arrow storyHeroScroll3" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
                <div class="tilrPaths-section -four tilrPaths-section-four-chirtina">
                    <div class="grid -fullHeight -align-middle">
                        <div class=col>
                            <div class="tilrPaths-section-content -align-right">
                                <img src=image/student.png alt="School student" class="tilrPaths-section-content-graphic -peter" />
                                <div class=tilrPaths-section-content-text>
                                    <h2>There’s also Peter</h2>
                                    <h3>He is a student of Quality Kids School.</h3>
                                    <p>He wishes to keep a check on his homework, exams and time-table.</p>
                                    <p>He wishes to clarify doubts from teachers and compare results with the rest of the class. All through his school app.</p>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 6" class="tilrPath -four">
                                    <path d="m -1.0 3		h 0.80		c 0 0, 1 0, 1 1		v 1		c 0 0, 0 1, -1 1		h -0		c 0 0, -1 0, -1 1		v 1" class="tilrPath-path -four"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs visible-sm hidden-md hidden-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 6" class="tilrPath -four">
                                    <path d="							m 0 3							h 1.5							c 0 0, 1 0, 1 1							v 1							c 0 0, 0 1, -1 1							h -1.48							c 0 0, -1 0, -1 1							v 1						" class="tilrPath-path -four"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg">
                            <div class=col>
                                <svg viewBox="0 0 12 6" class="tilrPath -four">
                                    <path d="							m 0 3							h 3							c 0 0, 1 0, 1 1							v 1							c 0 0, 0 1, -1 1							h -1.48							c 0 0, -1 0, -1 1							v 1						" class="tilrPath-path -four"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div id=scroll-start class="up-down-arrow storyHeroScroll4" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
                </div>
            </div>
        </div>
        <div class=technology-section>
            <div class=container>
                <h2>myly can easily meet the needs of all of them. <br>With an integrated solution, myly is one of the best educational apps.</h2>
                <h3>#makingSchoolsSmarter <br></h3>
                <!--<a class="sign-up-btn sign-up-btn-home" href=https://web.mylyapp.com/SignUp.aspx target=_blank> Sign-up free</a>-->
                <a class="sign-up-btn sign-up-btn-home" href="/register">Register</a>
            </div>
        </div>
        <div class="fourthSection serviceSection">
            <div class=container>
                <h2>myly for School Owners</h2>
                <div class=sectionContent>
                    <div class=row>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/004.png alt=></a>
                                </figure>
                                <h3>Student Security</h3>
                                <div class=textDesc>Complete peace of mind with School Bus Tracking and RFID Bus attendance features. View all school vehicles on your smartphone.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/005.png alt=></a>
                                </figure>
                                <h3>School Branding</h3>
                                <div class=textDesc>Promote your school brand through your very own school app. Let parents, students and teachers be your brand ambassador.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/006.png alt=></a>
                                </figure>
                                <h3>Multi-Branch/Franchise Management</h3>
                                <div class=textDesc>If you have multiple branches or franchisees, control and monitor operations and data of all branches from one place.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fifthSection serviceSection">
            <div class=container>
                <h2>myly for School Staff</h2>
                <div class=sectionContent>
                    <div class=row>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/007.png alt=></a>
                                </figure>
                                <h3>Attendance Management</h3>
                                <div class=textDesc>Teachers can take attendance directly on their app or upload via excel. Leave approval and real-time update sent to parents on their app.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/008.png alt=></a>
                                </figure>
                                <h3>Exam-Result Management</h3>
                                <div class=textDesc>Create custom exam patterns, schedule exams, publish results and print customized report cards for different classes in a jiffy.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/009.png alt=></a>
                                </figure>
                                <h3>Transport Management</h3>
                                <div class=textDesc>Create transport routes, assign students, manage pick-up drop points and live track school buses on web or app. AIS-140 compliant.</div>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/010.png alt=></a>
                                </figure>
                                <h3>Timetable Management</h3>
                                <div class=textDesc>Publish time-tables for classes and teachers visible to them on their apps. Manage Teacher substitution (Arrangements) in a click!</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/002.png alt=></a>
                                </figure>
                                <h3>Fees Collection</h3>
                                <div class=textDesc>Schedule reminders, allow collection via app and web in addition to fees collection counters in school premises. Send receipts on app.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/011.png alt=></a>
                                </figure>
                                <h3>Library Management</h3>
                                <div class=textDesc>Library management system where Students and Teachers can check books availability from their app, pay overdue fees and more.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixthSection serviceSection">
            <div class=container>
                <h2>myly for Parents & Students</h2>
                <div class=sectionContent>
                    <div class=row>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/003.png alt=></a>
                                </figure>
                                <h3>School Communication</h3>
                                <div class=textDesc>School messages, notices & circulars, homework and more in one single place for anywhere anytime access from smartphone app</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/012.png alt=></a>
                                </figure>
                                <h3>Academics information</h3>
                                <div class=textDesc>Get information about subjects & teachers, daily class time-table and learning content with attachments as shared by the teachers</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/002.png alt=></a>
                                </figure>
                                <h3>Fees reminders & payment</h3>
                                <div class=textDesc>See all due fees on the app, get fees due reminders and pay using credit/debit card, net-banking or eWallets directly from the app.</div>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/007.png alt=></a>
                                </figure>
                                <h3>Attendance & Leave</h3>
                                <div class=textDesc>Get real-time attendance notifications from the school for your ward. Send leave application with attachments from the app.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/008.png alt=></a>
                                </figure>
                                <h3>Exam-Result</h3>
                                <div class=textDesc>Get exam schedules, automated reminders before exams, published results with analytics and more on your smartphone app.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class=serviceBox>
                                <figure class=serviceImg>
                                    <a href=#><img src=image/services-icon/009.png alt=></a>
                                </figure>
                                <h3>School Bus Tracking</h3>
                                <div class=textDesc>View School Bus pick-up and drop routes, live school bus location and get RFID attendance notifications for your ward.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newCustomersSection">
            <div class="container">
                <div class="swiper-container logoSwiper">
                    <h2 class=text-center>Some of our Esteemed Clients</h2><br><br>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="logoBlock">
                                <img src="image/client/001.png" height=130 alt=""><br><br>
                                <h5>DPS, Sundernagar</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/002.jpg" height=130 alt=""><br><br>
                                <h5>Birla Divya Jyoti, Siliguri</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/003.jpg" height=130 alt=""><br><br>
                                <h5>Don Bosco, Kharagpur</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/004.jpg" height=130 alt=""><br><br>
                                <h5>The Newtown School, Kolkata</h5>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoBlock">
                                <img src="image/client/005.jpg" height=130 alt=""><br><br>
                                <h5>Euro Kids, Patna</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/006.jpg" height=130 alt=""><br><br>
                                <h5>Bachpan School, Bengaluru</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/007.jpg" height=130 alt=""><br><br>
                                <h5>Arise 'n' Shine, Chennai</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/008.jpg" height=130 alt=""><br><br>
                                <h5>Maple Bear, Bengaluru</h5>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoBlock">
                                <img src="image/client/009.png" height=130 alt=""><br><br>
                                <h5>YS Group, Barnala</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/010.jpg" height=130 alt=""><br><br>
                                <h5>Rawal Group, Faridabad</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/011.jpg" height=130 alt=""><br><br>
                                <h5>RIMS Undri, Pune</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/012.png" height=130 alt=""><br><br>
                                <h5>Adamas International, Kolkata</h5>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoBlock">
                                <img src="image/client/013.jpg" height=130 alt=""><br><br>
                                <h5>GEMS Akademia, Kolkata</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/014.jpg" height=130 alt=""><br><br>
                                <h5>Sunbeam, Vellore</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/015.jpg" height=130 alt=""><br><br>
                                <h5>RN Shah, Mumbai</h5>
                            </div>
                            <div class="logoBlock">
                                <img src="image/client/016.jpg" height=130 alt=""><br><br>
                                <h5>Royal Global, Guwahati</h5>
                            </div>
                        </div>
                    </div>
                    <div class="logoPagination"></div>
                </div>
            </div>
        </div>

        <div class="customerSaySection">
            <div class=container>
                <div class=swiper-container>
                    <h2 class=text-center>What our customers say</h2>
                    <br>
                    <div class=swiper-wrapper>
                        <div class=swiper-slide>
                            <div class=slide-bg>
                                <div class=auther-img> <img class=img-responsive src=image/georgea-arvind.jpg alt="Dr. George A Arvind" /> </div>
                                <h5>
                                    Dr. H. George Arvind, M.B.B.S., Deputy Chairman, <br>
                                    Sunbeam Matric Hr. Sec. School Vellore
                                </h5>
                                <p>The myly team is truly top notch at every level of engagement. Having a partner like myly has helped our organization in so many ways and they are always there to assist with any issue. Support from this team has surpassed our expectations! Hats off to myly for its brilliance, great support and for building such an amicable relationship.</p>
                            </div>
                        </div>
                        <div class=swiper-slide>
                            <div class=slide-bg>
                                <div class=auther-img> <img class=img-responsive src="image/Parvez Alam.jpg" alt="Parvez Alam" /> </div>
                                <h5>
                                    Parvez Alam, Relationship Manager,<br>
                                    <span>GEMS Akademia International School, Kolkata, West Bengal</span>
                                </h5>
                                <p>Our association with myly has been a significant one so far. The app has made life very easier for the school in terms of the communication with our parents. Our parents now seem to be happy and enjoying the services.</p>
                                <p> myly has truly lived up to the promises they made. The frequent updates and constant follow-up tells you that they mean business. All in all a very good and satisfying experience so far. We wish them all-the-best in their future endeavours.</p>
                            </div>
                        </div>
                        <div class=swiper-slide>
                            <div class=slide-bg>
                                <div class=auther-img> <img class=img-responsive src=image/nitesh-mathur.jpg alt="Nitesh Mathur" /> </div>
                                <h5>
                                    Nitesh Mathur, Owner, Super Kids, <br>
                                    <span>Jaipur, Rajasthan</span>
                                </h5>
                                <p>myly app has been a real boon for all the students, staff and community. It has allowed all of us to stay connected and engaged like a one big happy family. There are so many features in the app, yet it is so user friendly and easy to use. Alerts, reminders, photos, attendance, application, online fee submission, you name the feature, the app has it. </p>
                                <p> The regular use of the app has ensured that there is no confusion between the school and parent/teacher as every information reaches them on time and also keeps the parent updated about their child’s progress regularly.</p>
                            </div>
                        </div>
                        <div class=swiper-slide>
                            <div class=slide-bg>
                                <div class=auther-img> <img class=img-responsive src=image/jigar-shah.jpg alt="Jigar Shah" /> </div>
                                <h5>
                                    Jigar Shah, Chairman, <br>
                                    Nirmala Niketan High School, Bhayandar, Maharashtra
                                </h5>
                                <p>Nirmala Niketan High School is using myly App since Feb 2016 and we find the app very useful and advantageous. The app is not only convenient but also user-friendly.</p>
                                <p>Every school must try this app to reveal the importance of it. This app solved the communication issue of my school completely &amp; ensured timely updates to parents about their child.</p>
                            </div>
                        </div>
                    </div>
                    <div class=swiper-pagination></div>
                    <div class=swiper-button-next></div>
                    <div class=swiper-button-prev></div>
                </div>
            </div>
        </div>
        {{end}}
