{{ define "main" }}

<div id=hero class="section -top -storyHero">
    <div class=container>
        <div class="row bannerRow">
            <div class="col-md-6">
                <div class="content -medium -space-v-2">
                    <h1 class="heading-top text-left">  The Operating System of your School</h1>
                    <h3 class="heading-top-bot text-left">Looking for a one stop solution to manage your school administration, fees collection, academics, transport and communication.
                    </h3> <br>
                    <div class="sign-up-btn-panel text-left">
                        <a class=sign-up-btn href="/register">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="bannerImg" src="/image/mylyBannerImage.png">
            </div>
        </div>
        <p class="introPara"></p>
        <div id="scroll-start" class="up-down-arrow storyHeroScroll"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
    </div>
</div>


<div class=home-tilrPaths>
<div class=tilrPaths>
    <p class=intro-heading>How myly helps</p>
    <div class="tilrPaths-section -one">
        <div class="grid -fullHeight -align-middle -rtl">
            <div class=col>
                <div class=tilrPaths-section-content>
                    <img src="/image/Deborah.jpg" alt="School Principal" class="tilrPaths-section-content-graphic -deborah" />
                    <div class="tilrPaths-section-content-text -small-right">
                        <h2>Meet Mr. Sharma</h2>
                        <h3>He owns Quality Kids School.</h3>
                        <p>He is concerned about data security, financial management and transparency.</p>
                        <p>He wants to manage all the information and records of his school on a single School Management Software and increase the efficiency of his staff.</p>
                    </div>
            
                </div>
            </div>
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 24" class="tilrPath -one">
                        <path stroke-dashoffset=0 stroke-dasharray=0 d="m 0 3  h -0.8   c 0 0, -1 0, -1 1	v 2		c 0 0, 0 1, 1 1		h 0	  c 0 0, 1 0, 1 1	v 7	   c 0 0, 0 1, 1 1	   c 0 0, 1 0, 1 1		v 1.5		c 0 0, 0 1, -1 1	h -2.2		c 0 0, -1 0, -1 1		v 5.5" class="tilrPath-path -one"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs visible-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 24" class="tilrPath -one">
                        <path stroke-dashoffset=0 stroke-dasharray=0 d="							m 0 3							h -1.6							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 1.25							c 0 0, 1 0, 1 1							v 7							c 0 0, 0 1, 1 1							c 0 0, 1 0, 1 1							v 1.5							c 0 0, 0 1, -1 1							h -2.8							c 0 0, -1 0, -1 1							v 5.5						" class="tilrPath-path -one"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs hidden-sm visible-md visible-lg">
                <div class=col>
                    <svg viewBox="0 0 12 24" class="tilrPath -one">
                        <path stroke-dashoffset=0 stroke-dasharray=0 d="							m 0 3							h -2							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 2.25							c 0 0, 1 0, 1 1							v 7							c 0 0, 0 1, 1 1							c 0 0, 1 0, 1 1							v 1.5							c 0 0, 0 1, -1 1							h -2.8							c 0 0, -1 0, -1 1							v 5.5						" class="tilrPath-path -one"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="tilrPaths-section tilrPaths-section-third">
        <div id=scroll-start class="up-down-arrow storyHeroScroll1" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
        <div class="grid -fullHeight -align-middle">
            <div class=col>
                <div class="tilrPaths-section-content -align-right">
                   
                  <img src="/image/child-student.jpg" alt="School Teacher" class="tilrPaths-section-content-graphic -daniel" />
                    <div class=tilrPaths-section-content-text>
                        <h2 style=margin:0>This is Mallika</h2>
                        <h3>A teacher in Quality Kids School.</h3>
                        <p>She has to share messages, pictures and news to her students and their parents.</p>
                        <p>She wishes to organize essential daily tasks like taking attendance, responding to parents and sending circulars &amp; homework from her school app.</p>
                    </div>
                
                </div>
            </div>
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                        <path d="m 0 3.5	h 1		c 0 0, 1 0, 1 1		v 2		c 0 0, 0 1, -1 1	h -1.8	c 0 0, -1 0, -1 1	 v 2	c 0 0, 0 1, 1 1		h 1.80		c 0 0, 1 0, 1 1		v 8						" class="tilrPath-path -two"> </path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs visible-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                        <path d="							m 0 3.5							h 1.6							c 0 0, 1 0, 1 1							v 2							c 0 0, 0 1, -1 1							h -3.5							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 3.55							c 0 0, 1 0, 1 1							v 8						" class="tilrPath-path -two"> </path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs hidden-sm visible-md visible-lg">
                <div class=col>
                    <svg viewBox="0 0 12 18" class="tilrPath -two tilrPath-res">
                        <path d="							m 0 3.5							h 3							c 0 0, 1 0, 1 1							v 2							c 0 0, 0 1, -1 1							h -6							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, 1 1							h 3.55							c 0 0, 1 0, 1 1							v 8						" class="tilrPath-path -two"> </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id=scroll-start class="up-down-arrow storyHeroScroll2" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
    <div class="tilrPaths-section tilrPaths-section-four-peter">
        <div class="grid -fullHeight -align-middle -rtl">
            <div class=col>
                <div class=tilrPaths-section-content>
                   
                    <img src="/image/school-teacher.png" alt=Parent class="tilrPaths-section-content-graphic -caralyn" />
                    <div class="tilrPaths-section-content-text -small-right">
                        <h2>Meet Christina</h2>
                        <h3>Her child studies in Quality Kids School.</h3>
                        <p>She is worried about getting timely info &amp; about her child’s progress in class.</p>
                        <p>She wants to communicate with the teacher, get all info on her parent app and pay fees without having to stand in queues at the school.</p>
                    </div>
                   
                </div>
            </div>
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                        <path d="m 1.8 3	h -1	c 0 0, -1 0, -1 1	v 2	    c 0 0, 0 1, -1 1	  c 0 0, -1 0, -1 1		v 3		c 0 0, 0 1, 1 1		h 1.49		c 0 0, 1 0, 1 1		v 1" class="tilrPath-path -three"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs visible-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                        <path d="							m 1 3							h -0.7							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, -1 1							c 0 0, -1 0, -1 1							v 3							c 0 0, 0 1, 1 1							h 1.49							c 0 0, 1 0, 1 1							v 1						" class="tilrPath-path -three"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs hidden-sm visible-md visible-lg">
                <div class=col>
                    <svg viewBox="0 0 12 12" class="tilrPath -three tilrPath-two-res">
                        <path d="							m 0 3							h -1							c 0 0, -1 0, -1 1							v 2							c 0 0, 0 1, -1 1							c 0 0, -1 0, -1 1							v 3							c 0 0, 0 1, 1 1							h 1.49							c 0 0, 1 0, 1 1							v 1						" class="tilrPath-path -three"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id=scroll-start class="up-down-arrow storyHeroScroll3" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
    <div class="tilrPaths-section -four tilrPaths-section-four-chirtina">
        <div class="grid -fullHeight -align-middle">
            <div class=col>
                <div class="tilrPaths-section-content -align-right">
                 
                  <img src="/image/student.png" alt="School student" class="tilrPaths-section-content-graphic -peter" />
                    <div class=tilrPaths-section-content-text>
                        <h2>There’s also Peter</h2>
                        <h3>He is a student of Quality Kids School.</h3>
                        <p>He wishes to keep a check on his homework, exams and time-table.</p>
                        <p>He wishes to clarify doubts from teachers and compare results with the rest of the class. All through his school app.</p>
                    </div>
                    
                </div>
            </div>
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 6" class="tilrPath -four">
                        <path d="m -1.0 3		h 0.80		c 0 0, 1 0, 1 1		v 1		c 0 0, 0 1, -1 1		h -0		c 0 0, -1 0, -1 1		v 1" class="tilrPath-path -four"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs visible-sm hidden-md hidden-lg">
                <div class=col>
                    <svg viewBox="0 0 12 6" class="tilrPath -four">
                        <path d="							m 0 3							h 1.5							c 0 0, 1 0, 1 1							v 1							c 0 0, 0 1, -1 1							h -1.48							c 0 0, -1 0, -1 1							v 1						" class="tilrPath-path -four"></path>
                    </svg>
                </div>
            </div>
            <div class="hidden-xs hidden-sm visible-md visible-lg">
                <div class=col>
                    <svg viewBox="0 0 12 6" class="tilrPath -four">
                        <path d="							m 0 3							h 3							c 0 0, 1 0, 1 1							v 1							c 0 0, 0 1, -1 1							h -1.48							c 0 0, -1 0, -1 1							v 1						" class="tilrPath-path -four"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div id=scroll-start class="up-down-arrow storyHeroScroll4" style="z-index:1200;position:relative"><a href=#scroll-start><i class="fa fa-chevron-down" aria-hidden=true></i></a></div>
    </div>
</div>
</div>






<div class=technology-section>
<div class=container>
    <h2>myly can easily meet the needs of all of them. With an integrated solution, myly is one of the best school management software.</h2>
    <h3>#makingSchoolsSmarter <br></h3>
    <!--<a class="sign-up-btn sign-up-btn-home" href=https://web.mylyapp.com/SignUp.aspx target=_blank> Sign-up free</a>-->
    <a class="sign-up-btn sign-up-btn-home" href="https://www.mylyapp.com/register">Sign Up</a>
</div>
</div>




<div class="fourthSection serviceSection">
<div class=container>
    <h2>myly for School Management</h2>
    <div class=sectionContent>
        <div class=row>
           {{ range $key,$val := where .Pages ".Params.series" "==" "contentIndexParentStudent" }}
            <div class="col-sm-6 col-md-4">
                <div class=serviceBox>
                    <figure class=serviceImg>
                        <img src="{{ .Params.image }}" alt=>
                    </figure>
                    <h3>{{ .Params.heading }}</h3>
                    <div class=textDesc>{{.Content}}</div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
</div>


<div class="fifthSection serviceSection">
    <div class=container>
        <h2>myly for School Staff</h2>
        <div class=sectionContent>
            <div class=row>
               {{ range $key,$val := where .Pages ".Params.series" "==" "contentIndexSchoolManagement" }}
                <div class="col-sm-6 col-md-4">
                    <div class=serviceBox>
                        <figure class=serviceImg>
                            <img src="{{ .Params.image }}" alt=>
                        </figure>
                        <h3>{{ .Params.heading }}</h3>
                        <div class=textDesc>{{.Content}}</div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>



<div class="sixthSection serviceSection">
        <div class=container>
            <h2>myly for Parents & Students</h2>
            <div class=sectionContent>
                <div class=row>
                   {{ range $key,$val := where .Pages ".Params.series" "==" "contentIndexSchoolManagement" }}
                    <div class="col-sm-6 col-md-4">
                        <div class=serviceBox>
                            <figure class=serviceImg>
                                <img src="{{ .Params.image }}" alt=>
                            </figure>
                            <h3>{{ .Params.heading }}</h3>
                            <div class=textDesc>{{.Content}}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>


<div class=technology-section>
    <div class=container>
        <h2>Having your school branded mobile app for parents is great!<br>myly publishes and maintains mobile app for parents in schools’ own brand.</h2>
        <h3>#schoolbranding<br></h3>
        
        <a class="sign-up-btn sign-up-btn-home" href=" /register">Sign Up</a>
    </div>
</div>


<div class="newCustomersSection">
<div class="container">
    <div class="swiper-container logoSwiper">
        <h2 class=text-center>Some of our Esteemed Clients</h2><br><br>
        <div class="swiper-wrapper">
            {{ range  where .Pages "Params.series" "==" "clientSection" }}
               {{ range $key,$val := .Params.clientSection }}   
               {{ range $key,$val := $val }} 
                <div class="swiper-slide">
               
                {{ range $key,$val := $val }}
                  <div class="logoBlock">
                  <img src="{{ $val.image }}" height=130 alt=""><br><br>
                 <h5>{{ $val.heading  }}</h5>
                  </div>
                {{ end }}
               
              </div>
              {{ end }}
             {{ end }}
             {{ end }}
        </div>
        <div class="logoPagination"></div>
    </div>
</div>
</div>


<div class="franchiseeGroupSchoolOffering">
    <div class=container>
        <h2>Running a school trust or chain of schools, myly is for you also!</h2>
        <div class=sectionContent>
            <div class=row>
                <div class="col-sm-12 col-md-12">
                    <p class="textDesc">
                            myly would provide you a ‘super admin’ login to have a composite view of student data and monitor the real time fees collection & attendance data across all the branches. If you collect royalty on the fees collection, you can have a real time visibility of due royalty; and can even plan for automatic credit of royalty in your corporate account.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="customerSaySection">
<div class=container>
    <div class=swiper-container>
        <h2 class=text-center>What our customers say</h2>
        <br>
        <div class=swiper-wrapper>
            {{ range $key,$val := where .Pages ".Params.series" "==" "customerSaySection" }}
            <div class=swiper-slide>
                <div class=slide-bg>
                    <div class=auther-img> <img class=img-responsive src="{{ .Params.image }}" alt="{{ .Params.alternateText }}" /> </div>
                    <h5>
                        {{ .Params.heading }}<br>
                        <span>{{ .Params.span }}</span>
                    </h5>
                    <p>{{.Content}} </p>
                   
                </div>
            </div>
           {{ end }}
        </div>
        <div class=swiper-pagination></div>
        <div class=swiper-button-next></div>
        <div class=swiper-button-prev></div>
    </div>
</div>
</div>


{{ end }}