<div class="clearfix"></div>
        <div class="container">

            <div class="contact-panel">
                <h2>We would love to hear from you!</h2>
                <div class="col-sm-12">
                    <div class="contact-us-panel">
                        <address class="text-center">
                            <div class="contact-us-inner">
                                <p>
                                    <b>EduCommerce Technologies Private Limited</b> <br />
                                    Suite #5EW,<br />
                                    Neil Rao Towers, EPIP Phase – 1<br />
                                    Whitefield, Bangalore – 560066<br />
                                    Email:<a href="mailto:hello@mylyapp.com" style="text-transform: none;"> hello@mylyapp.com </a><br />
</p>
                            </div>
                            <div class="clearfix"></div>

                        </address>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="contact-form-panel">
                        <!--<h3>Contact us</h3>-->
                        <h1 class="text-center">Contact us</h1>


                        <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6341440",
	formId: "e4fce1b9-6a3f-493f-88dc-7ea47ee48247"
});
</script>

</div>
</div>
</div>

</div>