<div class="container-fluid">
    <div class="complete">
    <div class="row" style="text-align: center;">
      <div class="container">
     <div class="col-md-12",style="line-height:1.6rem">
       <div>
         <span>GOT A QUESTION?</span>
         <h1 style="margin:0px">Contact myly</h1>
     </div>
       <p class="initial">We're here to assist and answer any queries you may have.We would be happy to hear from you.</p>
      </div>
  </div>
</div>
<div class="row bannerColor">
    <div class="container">
    <div class="col-md-6">
    <br><br>
  <h1>Easy to use smartphone based school Management System</h1><br><br>
  <h4>myly helps you manage your school operations seamlessly from web and mobile. It's easy to use interface and excellent support, help you embark the digital journey of your school with very little training</h4><br>
  <button class="signUp">Sign Up</button><br><br><br><br>
  <p>The myly team is truly top notch at every level of engagement. Having a partner like myly has helped our organization in so many ways and they are always there to assist with any issue. Support from this team has surpassed our expectations! Hats off to myly for its brilliance, great support and for building such an amicable relationship. </p><br>
  
  <div class="chairman-name">
    <h5><strong>-Dr H George Arvind,M.B.B.S,Deputy Chairman,<br>Sunbeam Matric Hr.Sec.School Vellore</strong></h5><br><br><br>

</div>
</div>
  <div class="col-md-6 ">
    <br><br>
   <div class="formWrapper"><br>
     <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
     <script>
      hbspt.forms.create({
             portalId: "6341440",
             formId: "e4fce1b9-6a3f-493f-88dc-7ea47ee48247"
      });
   </script>
</div><br><br>
   
 </div>
</div>
</div>
<div>
          </div>
          <br>
            <div class="row" style="text-align: left">
                <div class="container">
                <div class="col-md-12">
                  <div class="address-style">
                     <h4><strong>EduCommerce Technologies Private Limited,</strong></h4>
                      <p>Suite #5EW, Neil Rao Towers, EPIP Phase – 1 </p>
                      <p>Whitefield, Bengaluru – 560066</p>
                      <p><strong>Email:</strong>hello@mylyapp.com</p><br><br>
                 </div><br>
                 <div class="row" style="text-align: left">
                    <div class="container">
                      <div class="col-md-6 ">
                    <h4><strong>General Communication</strong></h4>
                      <p>For general queries,as well as partnership opportunities,please call @Prateek 9950481444</p>
                </div>
                <div class="col-md-6" >
                    <h4><strong>Technical Support</strong></h4>
                    <p>We are here to assist!Contact <strong>support@mylyapp.com</strong>,if you have technical problems</p>
                </div>
                </div>
              </div>
                  
                </div>
          </div>
</div>
</div>
</div>