<section id="fms-features">
  <div class="container">
      <h2 class="banner-heading text-center"> <strong>{{.Get "heading"}}</strong> </h2>
      <div class="arrow-fms-left col-sm-1 hidden-xs visible-sm visible-md visible-lg" onclick="callFmsLeftArrow()"><i class="fa fa-angle-left" style="cursor:pointer" aria-hidden="true"></i></div>
      <div class="col-xs-12 col-sm-10 col-md-5 hidden-xs visible-sm visible-md visible-lg">
          <div class="iph-mobile right-align tofade animated fadeInUp">
              <p>
                  <img alt="hand-iphone" src="image/webpanel-three.png" class="alignnone" />
                  <div id="mobile" class="mobile lapi-fms">
                      <div class="tech-slide-panal">
                          <div data-index="1"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image1" }}" alt="{{.Get "alt1" }}" /> </div>
                          <div data-index="2"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image2" }}" alt="{{.Get "alt2" }}" /> </div>
                          <div data-index="3"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image3" }}" alt="{{.Get "alt3" }}" /> </div>
                          <div data-index="4"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image4" }}" alt="{{.Get "alt4" }}" /> </div>
                          <div data-index="5"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image5" }}" alt="{{.Get "alt5" }}" /> </div>
                          <div data-index="6"> <img class="zoomIt fees-slide-mgmt" id="zoom_02" src="{{.Get "image6" }}" alt="{{.Get "alt6" }}" /> </div>
                      </div>
                  </div>
              </p>
          </div>
      </div>
      <div class="col-sm-1 hidden-xs visible-sm hidden-md hidden-lg">
          <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 hidden-xs visible-sm visible-md visible-lg">
          <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-right">
              <div class="col-slide" data-id="1">
                  <h4 class="feature-heading"><strong>{{.Get "heading1" }}</strong></h4>
                  <p class="features-text">{{.Get "description1" }}</p>
              </div>
              <div class="col-slide" data-id="2">
                  <h4 class="feature-heading"><strong></strong></h4>
                  <h4 class="feature-heading"><strong>{{.Get "heading2" }}</strong></h4>
                  <p class="features-text">{{.Get "description2" }}</p>
              </div>
              <div class="col-slide" data-id="3">
                  <h4 class="feature-heading"><strong>{{.Get "heading3" }}</strong></h4>
                  <p class="features-text">{{.Get "description3" }}</p>
              </div>
              <div class="col-slide" data-id="4">
                  <h4 class="feature-heading"><strong>{{.Get "heading4" }}</strong></h4>
                  <p class="features-text">{{.Get "description4" }}</p>
              </div>
              <div class="col-slide" data-id="5">
                  <h4 class="feature-heading"><strong>{{.Get "heading5" }}</strong></h4>
                  <p class="features-text">{{.Get "description5" }}</p>
              </div>
              <div class="col-slide" data-id="6">
                  <h4 class="feature-heading"><strong>{{.Get "heading6" }}</strong></h4>
                  <p class="features-text">{{.Get "description6" }}</p>
              </div>
          </div>
      </div>
      <div class="col-sm-1 hidden-xs hidden-sm visible-md visible-lg">
          <div class="arrow-fms-right" onclick="callFmsRightArrow()"><i class="fa fa-angle-right" style="cursor:pointer" aria-hidden="true"></i></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 hidden-md hidden-lg hidden-sm visible-xs">
          <div class="iph-mobile right-fmsalign tofade animated fadeInUp tech-slide-panal-res">
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Access Control</strong></h4>
                  <p class="features-text">Only authorized school personnel can access the admission management screens.</p>
                  <img src="image/Fees-Scheduling-res.jpg" alt="myly is for parent teacher student messaging" />
              </div>
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Capture Details</strong></h4>
                  <p class="features-text">Capture student details including custom fields and documents on admission.</p>
                  <img src="image/New-Admission-res.jpg" alt="myly student attendance management software" />
              </div>
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Apply Fees</strong></h4>
                  <p class="features-text">Apply all necessary past due and upcoming fees to the student on admission.</p>
                  <img src="image/Receipt-Generation-res.jpg" alt="download myly for institute event management" />
              </div>
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Collect Fees</strong></h4>
                  <p class="features-text">Collect fees by cheque, cash, PoS machine at the time of admission.</p>
                  <img src="image/Fees-Reconcilation-res.jpg" alt="myly is for parent teacher student messaging" />
              </div>
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Approve Admission</strong></h4>
                  <p class="features-text">Senior managment of school still reserves the right to approve admission.</p>
                  <img src="image/Reports-&-Analytics-res.jpg" alt="myly student attendance management software" />
              </div>
              <div class="col-slide">
                  <h4 class="feature-heading"><strong>Reporting</strong></h4>
                  <p class="features-text">Get complete details and report on admissions in school within a particular duration.</p>
                  <img src="image/Offline-Fees-Collection-res.jpg" alt="download myly for institute event management" />
              </div>
          </div>
      </div>