<div class="col-sm-12">
    {{.Inner}}
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="award_pic-img">
            <div class="col-sm-4"> <img src="{{.Get "src1" }}" alt="" width="100%"></div>
        </div>
        <div class="award_pic-img">
            <div class="col-sm-4"><img src="{{.Get "src2" }}" alt="" width="100%"></div>
        </div>
        <div class="award_pic-img">
            <div class="col-sm-4"><img src="{{.Get "src3" }}" alt="" width="100%" height="100%"></div>
        </div>
    </div>
    <br>
</div>
<p>&nbsp;</p>
<div class="clearfix"></div>