<br />
<br />
<div class=row>
  <div class="col-sm-6 col-md-4">
      <div class=serviceBox>
          <figure class=serviceImg>
              <a href=#><img src="{{.Get "src1" }}" alt="{{.Get "alt1" }}"></a>
          </figure>
          <h3>{{.Get "heading1"}}</h3>
          <div class=textDesc>{{.Get "description1"}}</div>
      </div>
  </div>
  <div class="col-sm-6 col-md-4">
      <div class=serviceBox>
          <figure class=serviceImg>
              <a href=#><img src="{{.Get "src2" }}" alt="{{.Get "alt2" }}"></a>
          </figure>
          <h3>{{.Get "heading2"}}</h3>
          <div class=textDesc>{{.Get "description2"}}</div>
      </div>
  </div>
  <div class="col-sm-6 col-md-4">
      <div class=serviceBox>
          <figure class=serviceImg>
              <a href=#><img src="{{.Get "src3" }}" alt="{{.Get "alt3" }}"></a>
          </figure>
          <h3>{{.Get "heading3"}}</h3>
          <div class=textDesc>{{.Inner}}</div>
      </div>
  </div>
</div>
